.git
.gitignore

.venv
venv
env

__pycache__
*.py[cod]
.pytest_cache
.coverage
htmlcov

.env
.env.*
!.env.example

db.sqlite3
backups
media
staticfiles

.vscode
.idea
.DS_Store

gobject-introspection-1.78.0
gobject-introspection-1.78.0.tar.xz